<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => 'sign_up' }) do |f| %>
  <legend><%= t('account.registrations.new.title') %></legend>

  <% if resource.errors[:base].present? %>
    <div class="alert alert-error"><%= f.error :base %></div>
  <% end %>

  <%= f.input :email, :input_html => { :class => 'input-xxlarge' } %>
  <%= f.input :username, :input_html => { :class => 'input-xxlarge' } %>

  <%= f.input :password, :input_html => { :class => 'input-xxlarge' } %>
  <%= f.input :password_confirmation, :input_html => { :class =>
  'input-xxlarge' } %>
  <i> You can only sign up as 'New Member'</i>
  <%= f.input :free_member_level, :collection =>
         Account::SIGNUP_MEMBER_LEVELS, :prompt =>  t('helpers.please_select') %>

  <%= f.simple_fields_for :profile do |profile| %>
    <%= profile.input :country_id, :input_html => { :class => 'input-xxlarge' }, :collection => Country.cached, :prompt => t('helpers.please_select') %>
    <%= profile.input :birth_date, :start_year => Date.today.year - 100, :end_year => Date.today.year, :default => Profile::DEFAULT_BIRTH_DATE %>
  <% end %>


  <%=raw @humanizer.get_publisher_html unless session[:human] %>

  <div class="form-actions">
    <%= f.submit t('helpers.actions.sign_up'), :class => 'btn btn-primary' %>
    <div class="pull-right">
      <%= link_to t('helpers.actions.sign_in'), new_session_path(resource_name), :class => 'btn' %>
      <%= link_to t('helpers.actions.forgot_your_password'), new_password_path(resource_name), :class => 'btn' %>
      <%= link_to t('helpers.actions.resend_confirmation_instruction'), new_confirmation_path(resource_name), :class => 'btn' %>
    </div>
  </div>

  <%= render :partial => 'account/shared/social_media_login' %>
<% end %>
