<div class="well">
  <p id="notice"><%= notice %></p>

  <p>
    <h4>Content:</h4>
    <%= @blogpost.content %>
  </p>

  <p>
    <h4>User:</h4>
    <%= @blogpost.account_id %>
  </p>

  <h4>Comments:</h4>
  <div class="well">
       <%= render 'comments/comments_box', :commentable => @blogpost %>
  </div>

  <%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
  <%= link_to 'Back', blogposts_path %>
</div>
