<%= simple_form_for [:admin, resource], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email, :input_html => { :class => 'input-xxlarge' } %>
  <%= f.input :password, :input_html => { :class => 'input-xxlarge' } %>
  <%= f.input :password_confirmation, :input_html => { :class =>
  'input-xxlarge' } %>
  <%= f.input :username, :input_html => { :class => 'input-xxlarge' } %>

  <%= f.simple_fields_for :profile do |profile| %>
    <%= profile.simple_fields_for :avatar do |avatar| %>
      <%= avatar.input :image do %>
        <%= avatar.file_field :image, :class => 'input-xxlarge' %>
        <%= image_tag resource.profile.avatar.image.url(:thumb) %>
      <% end %>
    <% end %>
    <%= profile.input :first_name, :input_html => { :class => 'input-xxlarge' } %>
    <%= profile.input :last_name, :input_html => { :class => 'input-xxlarge' } %>
    <%= profile.input :gender, :collection => Gender.to_a, :input_html => { :class => 'input-xxlarge' }, :prompt => t('helpers.please_select') %>
    <%= profile.input :country_id, :collection => Country.cached, :input_html => { :class => 'input-xxlarge' }, :prompt => t('helpers.please_select') %>
    <%= profile.input :birth_date, :start_year => Date.today.year - 100, :end_year => Date.today.year, :default => Profile::DEFAULT_BIRTH_DATE %>
  <% end %>
  <%= f.input :free_member_level, :collection =>
  Account::FREE_MEMBER_LEVELS, :prompt =>  t('helpers.please_select')
    %>
  <div class ="alert alert-error">
  Account status: Active/Inactive
  <%= f.radio_button :active, true  %>
  <%= f.radio_button :active, false %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), collection_path, :class => 'btn' %>
  </div>
<% end %>
