<div class="page-size">
  <%= form_tag collection_url, :method => :get, :class => "form-inline" do %>
    <%= hidden_field_tag(:sort_name, params[:sort_name]) if params[:sort_name] %>
    <%= hidden_field_tag(:sort_dir, params[:sort_dir]) if params[:sort_dir] %>
    <%= hidden_field_tag(:q, params[:q]) if params[:q] %>
    <%= label_tag :per_page, t('helpers.items_per_page') %>
    <%= select_tag :per_page, options_for_select([10, 25, 50, 100], params[:per_page]) %>
  <% end %>
</div>