<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => 'edit_account_details', :method => :put }) do |f| %>
  <legend><%= t('registrations.change_password.title') %></legend>
  <%= f.input :password, :hint => t('registrations.change_password.password_hint') %>
  <%= f.input :current_password, :hint => t('registrations.change_password.current_password_hint') %>

  <div class="form-actions">
    <%= f.submit t('helpers.actions.update'), :class => 'btn btn-primary' %>
    <%= link_to t('helpers.actions.cancel'), root_path, :class => 'btn' %>
  </div>
<% end %>