<% unless account_signed_in? %>

<% end %>
<%= render 'news' %>
<%= render 'showcases', :showcases => @public_showcases %>

<div class="main-content home-page clearfix">
	<div class="main-content-l clearfix">
		<%= render "pictures", :pictures => @latest_pictures %>
		<%= render "showroom" %>
	</div>
	<div class="main-content-r clearfix">
		<%= render "fashion" %>
	</div>
	<div style="clear: both;"></div>
</div>
