<div class="well">
  <h2>My Blog Posts</h2>
  <% if @profile.account.blogposts.any? %>
    <ol class="blogposts">
      <% @profile.account.blogposts.each do |blogpost| %>
        <li>
          <span class="content"><%= blogpost.content %></span>
          <p><%= link_to 'Read more', blogpost_path(blogpost) %></p>
          <span class="timestamp">
            Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
          </span>
          <span class="timestamp">
        </br>(<%= blogpost.comments.count %>) comment(s).
          </span>
        </li>
      <% end %>
    </ol>
    <br />
  <% end %>
  <% if is_current_profile?(@profile) %>
    <%= link_to 'New Blogpost', new_blogpost_path, class: "btn
                                                                 btn-large
                                                                 btn-primary"%>
  <% end %>
</div>
