<div class="well">
  <h2>My Showcases</h2>
  <% showcase = @profile.account.default_showcase %>
  <span class="content"><h4><%=link_to showcase.name, showcase %></h4></span>
  <span class="content"><%= showcase.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(showcase.created_at) %> ago.
  </span>
  <% if @profile.account.non_default_showcases.any? %>
    <ol class="showcases">
      <% @profile.account.showcases.each do |showcase| %>
        <li>
          <span class="content"><h4><%=link_to showcase.name, showcase %></h4></span>
          <span class="content"><%= showcase.content %></span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(showcase.created_at) %> ago.
          </span>
        </li>
      <% end %>
    </ol>
    <br />
  <% end %>

  <% if is_current_profile?(@profile) %>
    <% if current_account.can_create_additional_showcases? %>
      <%= link_to 'New Showcase', new_showcase_path, class: "btn
                                                                 btn-large
                                                                 btn-primary" %>
    <% end %>
  <% end %>
</div>
