<%= simple_form_for(@profile, :url => account_profile_path, :html => { :id => 'edit_profile', :method => :put }) do |f| %>
  <legend><%= t('account.profiles.edit.title') %></legend>
  <%= f.input :username, :input_html => { :class => 'input-xxlarge' }, :disabled => !@profile.username_editable? %>
  <div class="alert">
    <button class="close" data-dismiss="alert">×</button>
    <%=raw t('account.profiles.edit.username_warning') %>
  </div>
  <%= f.simple_fields_for :avatar do |avatar| %>
    <%= avatar.input :image do %>
      <%= avatar.file_field :image, :class => 'input-xxlarge' %>
      <%= image_tag @profile.avatar.image.url(:thumb) %>
    <% end %>
  <% end %>
  <%= f.input :email do %>
    <%= text_field_tag :email, @profile.account.email, :disabled => true, :class => 'disabled input-xxlarge' %>
  <% end %>
  <%= f.input :first_name, :input_html => { :class => 'input-xxlarge' } %>
  <%= f.input :last_name, :input_html => { :class => 'input-xxlarge' } %>
  <%= f.input :gender, :collection => Gender.to_a, :input_html => { :class => 'input-xxlarge' }, :prompt => t('helpers.please_select') %>
  <%= f.input :country_id, :collection => Country.cached, :input_html => { :class => 'input-xxlarge' }, :prompt => t('helpers.please_select') %>
  <%= f.input :birth_date, :start_year => Date.today.year - 100, :end_year => Date.today.year, :prompt => true %>

  <div class="form-actions">
    <%= f.submit t('helpers.actions.update'), :class => 'btn btn-primary' %>
    <%= link_to t('helpers.actions.cancel'), root_path, :class => 'btn' %>
  </div>
<% end %>