<%= content_for :title do %>
  <%= @profile.account %>
<% end %>

<div class="profile">
  <div class="well">
    <div class="row">
      <div class="avatar">
        <%= image_tag @profile.avatar.image.url(:thumb) %>
        <%= edit_link_to('Edit Profile', edit_account_profile_path, :class => 'edit-profile') if is_current_profile?(@profile) %>
      </div>
      <div class="details">

        <dl>
          <dt><%= Account.human_attribute_name(:username)%>:
            <%= @profile.account.username %> </dt>
          <dt><%= Account.human_attribute_name(:Level)%>:
            <%= @profile.account.free_member_level %> </dt>
          <dt><%= Account.human_attribute_name(:country)%>:
            <%= @profile.country %> </dt>
        </dl>
        <dl>
          <dt><%= Profile.human_attribute_name(:status) %>:</dt>
          <dd>
            <% if is_current_profile?(@profile) %>
              <%= edit_link_to(text_or_blank('Working'), '#') if is_current_profile?(@profile) %>
            <% else %>
              <%= text_or_blank('Working') %>
            <% end %>
          </dd>
        </dl>
      </div>

      <div class="about">
        Introduction about your self. <%= edit_link_to(''.html_safe, '#', :class => 'edit') if is_current_profile?(@profile) %>
      </div>

    </div>
    <div class="well">
      <h4>Social Stats:</h4>
      <strong id="following" class="stat">
        <%= @profile.account.followed_accounts.count %>
      </strong>
      following
      <strong id="followers" class="stat">
        <%= @profile.account.followers.count %>
      </strong>
      followers
      <h4> My followers </h4>
      <ol>
        <% @profile.account.followers.each do |account| %>
          <li>
            <div class="well">
              Username: <b><%= account.username %></b>
              <% if account.profile.full_name.empty? ||
                     account.profile.full_name == ' ' %>
                <br/><i>This user has not provided their full name in their profile</i>
              <% else %>
                <p>
                  Full Name: <i><%= account.profile.full_name %></i>
                </p>
              <% end %>
              <br/>
              <%= image_tag account.profile.avatar.image.url(:thumb) %>
              <br/>
              <%= render 'relationships/following_and_followers', :account => account %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <%= render 'blogposts' %>
  <%= render 'showcases' %>

  <div class="well">
    <div id="pictures">
    </div>
  </div>
</div>

