<%= content_for :title do %>
  <%= @profile.account %>
<% end %>

<div class="profile">
  <div class="well">
    <div class="row">
      <div class="avatar">
        <%= image_tag @profile.avatar.image.url(:thumb) %>
        <%= edit_link_to('Edit Profile', edit_account_profile_path, :class => 'edit-profile') if is_current_profile?(@profile) %>
      </div>
      <div class="details">
        <dl>
          <dt><%= Account.human_attribute_name(:username)%>:
            <%= @profile.account.username %> </dt>
          <dt><%= Account.human_attribute_name(:Level)%>:
            <%= @profile.account.free_member_level %> </dt>

        </dl>
        <dl>
          <dt><%= Profile.human_attribute_name(:status) %>:</dt>
          <dd>
            <% if is_current_profile?(@profile) %>
              <%= edit_link_to(text_or_blank('Working'), '#') if is_current_profile?(@profile) %>
            <% else %>
              <%= text_or_blank('Working') %>
            <% end %>
          </dd>
        </dl>
      </div>
      <div class="about">
        Introduction about your self. <%= edit_link_to(''.html_safe, '#', :class => 'edit') if is_current_profile?(@profile) %>
      </div>
    </div>
  </div>

<div class="well">
  <h2>My Blog Posts</h2>
  <% if @profile.account.blogposts.any? %>
  <ol class="blogposts">
    <% @profile.account.blogposts.each do |blogpost| %>
    <li>
      <span class="content"><%= blogpost.content %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
      </span>
    </li>
    <% end %>
  </ol>
  <br />
  <% end %>
<%= link_to 'New Blogpost', new_blogpost_path, class: "btn
                                                                 btn-large
                                                                 btn-primary" %>
</div>

  <div class="well">
    <div id="pictures">
    </div>
  </div>
</div>
