<%= simple_form_for(@showcase) do |f| %>
  <%= f.error_notification %>
  <div class="well">
    <h4> Edit Showcase details</h4>
    <div class="form-inputs">
      <% if !@showcase.default %>
        <%= f.input :name %>
      <% else %>
        <%= f.input :name, :collection => [@showcase.account.username ,
                                           @showcase.owner_full_name], :prompt => t('helpers.please_select') %>
      <% end %>


      <%= f.input :content %>
      <% if @showcase.default? %>
        <%= f.check_box :publicly_visible,:checked => true, :disabled => true %><i>Default showcase is always public</i>
      <% else %>
        <%= f.input :publicly_visible %>
      <% end %>
    </div>
  </div>

  <div class="well">
    <h4> Add/remove pictures from the showcase </h4>
    <ol>
      <% current_account.profile.pictures.all.each do |picture| %>

        <li>
          <b><%= Picture.human_attribute_name(:title) %></b>: <i><%=picture.title%></i>
          <div class="image">
            <% if picture.image.present? %>
              <%= image_tag picture.image.url(:preview) %>
            <% end %>
          </div>

          <% if @showcase.pictures.include?(picture) %>
            <br/>
            Cover picture?
            <%= radio_button("showcase","cover_picture_id",picture.id) %>
            <br/>
          <% end %>
          Include in Showcase?
          <%= check_box_tag 'picture_ids[]', picture.id,
              @showcase.pictures.include?(picture), :name =>
                'showcase[picture_ids][]' %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="well">
    <h4> Invite other users to view this showcase</h4>
    <ol>
      <% @showcase.non_owner_accounts.each do |acc| %>
        <li>
          <% if @showcase.has_invitee?(acc) %>
            <b><%= acc.username %></b><i> is currently allowed to view this showcase</i>
          <% else %>
            <b> <%= acc.username %></b> <i>is currently <b>not</b> <i>allowed to view this showcase</i>
          <% end %>
          <p>
            Allow user to view showcase in the future?
            <%= check_box_tag 'account_ids[]', acc.id,
                @showcase.has_invitee?(acc), :name=>
                  'showcase[account_ids][]' %>
          </p>
        </li>
      <% end %>
    </ol>
  </div>
  <div class="form-actions">
    <%= f.button :submit , :class=>'btn btn-primary' %>
  </div>
<% end %>
