<h2>Manage Showcases: ( <%= @showcases.count %> )</h2>

<ol class="showcases">
  <% @showcases.each do |showcase| %>
    <li>
      <span class="content"><h3><%=link_to showcase.name, showcase
                                   %></h3></span>

      <% if showcase.default? %>
        <i> This is the default showcase </i>
      <% end %>
      <span class="content"><b>Description: </b><%= showcase.content %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(showcase.created_at) %> ago.
      </span>
      <%= render 'shared/showcase_favorites', :showcase => showcase %>

      <%= render 'pictures_for_showcase', :showcase => showcase %>
      <h3> Showcase actions: </h3>
      <td><%= link_to 'Edit', edit_showcase_path(showcase), :class =>
                'btn btn-primary' %></td>

  <% end %>

  <% if current_account == @showcase.account %>
    <%= link_to "Edit this showcase", edit_showcase_path,
        :class=>"btn btn-danger" %>
    <% if !showcase.default? %>
      <td><%= link_to 'Destroy', showcase, confirm: 'Are you sure?',
              method: :delete , :class => 'btn btn-danger'%></td>
    <% end %>

</li>
<% end %>
</ol>
<br />

<% if current_account.can_create_additional_showcases? %>
  <%= link_to 'New Showcase', new_showcase_path, class: "btn
                                                                 btn-large
                                                                 btn-primary" %>

<% end %>

