<h2>Manage Showcases: ( <%= @showcases.count %> )</h2>

<ol class="showcases">
  <% @showcases.each do |showcase| %>
    <li>
      <span class="content"><h3><%=link_to showcase.name, showcase
                                   %></h3></span>

      <% if showcase.default? %>
        <i> This is the default showcase </i>
      <% end %>

      <span class="content"><b>Description: </b><%= showcase.content %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(showcase.created_at) %> ago.
      </span>
      <span class="timestamp">
        </br> (<%= showcase.comments.count %>) comments on this showcase.
      </span>
      <%= render 'shared/showcase_favorites', :showcase => showcase %>

      <%= render 'pictures_for_showcase', :showcase => showcase %>
      <div class="well">
        <h3> Showcase actions: </h3>
        <% if current_account == showcase.account %>
          <% if !showcase.default? %>
            <td><%= link_to 'Destroy', showcase, confirm: 'Are you sure?',
                    method: :delete , :class => 'btn btn-danger'%></td>
          <% end %>
        <% end %>
        <h4>Comments:</h4>
        <div class="well">
          <%= render 'comments/comments_box', :commentable =>
                showcase %>
        </div>
      </div>
    </li>
  <% end %>
</ol>
<br />

<% if current_account.can_create_additional_showcases? %>
  <%= link_to 'New Showcase', new_showcase_path, class: "btn
                                                                 btn-large
                                                                 btn-primary" %>

<% end %>

