<div class="picture-details" data-id="<%= picture.id %>">
  <div class="image">
    <%= image_tag picture.image.url(:preview) %>
  </div>
  <div class="details">
    <dl>
      <dt><%= Picture.human_attribute_name(:title) %></dt>
      <dd><%= picture.title %></dd>
      <dt><%= Picture.human_attribute_name(:style_ids) %></dt>
      <dd><%= names_list(picture.styles) %></dd>
      <dt><%= Picture.human_attribute_name(:gender) %></dt>
      <dd><%= picture.gender_humanize %></dd>
      <dt><%= Picture.human_attribute_name(:brands) %></dt>
      <dd><%= picture.brands %></dd>
      <dt><%= Picture.human_attribute_name(:cost) %></dt>
      <dd><%= picture.cost %></dd>
      <dt><%= Picture.human_attribute_name(:dressing_tips) %></dt>
      <dd><%= picture.dressing_tips %></dd>
      <dt><%= Picture.human_attribute_name(:where_to_buy) %></dt>
      <dd><%= picture.where_to_buy %></dd>
    </dl>
  </div>
  <div class="actions">
    <%= link_to_with_icon t('helpers.actions.close'), 'zoom-out', '#', :class => 'back' %>
  </div>
</div>