<%= simple_form_for([:account, picture], :remote => true, :html => { :class => 'picture-form' }) do |f| %>
  <div class="upload">
    <div class="drop-zone">
      <% if picture.image.present? %>
        <%= image_tag picture.image.url(:preview), :alt => 'preview' %>
        <%= f.hidden_field :image_cache %>
      <% else %>
        <span class="instructions"><%= t('account.pictures.form.drop_zone_hint') %> <%= icon("upload-alt") %></span>
      <% end %>
    </div>
    <%= file_field_tag :file, :class => 'hidden-file-upload', :id => 'first_upload' %>
  </div>
  <div class="form">
    <%= f.input :title, :input_html => { :class => 'input-xxlarge' } %>
    <%= f.input :style_ids, :collection => Style.cached, :as => :check_boxes %>
    <%= f.input :gender, :collection => ClothingGender.to_a, :as => :radio_buttons %>
    <%= f.input :dressing_tips, :input_html => { :class => 'input-xxlarge', :rows => 5 } %>
    <%= f.input :brands, :as => :text, :input_html => { :class => 'input-xxlarge', :rows => 3 } %>
    <%= f.input :cost, :as => :text, :input_html => { :class => 'input-xxlarge', :rows => 3 } %>
    <%= f.input :where_to_buy, :as => :text, :input_html => { :class => 'input-xxlarge', :rows => 3 } %>
  </div>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to t('helpers.actions.cancel'), root_path, :class => 'btn cancel' %>
  </div>
<% end %>