<%= simple_form_for([:account, picture], :remote => true, :html => { :class => "picture-form #{picture.new_record? ? 'new-picture' : ''}", 'data-id' => picture.id }) do |f| %>
  <div class="upload">
    <div class="drop-zone">
      <% if picture.image.present? %>
        <%= image_tag picture.image.url(:preview), :alt => 'preview' %>
        <%= f.hidden_field :image_cache %>
      <% else %>
        <span class="instructions"><%= t('account.pictures.form.drop_zone_hint') %> <%= icon("upload-alt") %></span>
      <% end %>
    </div>
    <%= file_field_tag :file, :class => 'hidden-file-upload', :id => 'first_upload' %>
  </div>
  <div class="form">
    <%= f.input :title, :input_html => { :class => 'input-xxlarge' } %>
    <%= f.input :dressing_tips, :input_html => { :class => 'input-xxlarge', :rows => 5 } %>
  </div>
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to t('helpers.actions.cancel'), root_path, :class => 'btn cancel' %>
  </div>
<% end %>