<div class="picture" data-id="<%= picture.id %>">
  <div class="image">
    <%= image_tag picture.image.url(:thumb) %>
  </div>
  <div class="details">
    <dl>
      <dt><%= Picture.human_attribute_name(:title) %></dt>
      <dd><%= picture.title %></dd>
      <dt><%= Picture.human_attribute_name(:dressing_tips) %></dt>
      <dd><%= truncate(picture.dressing_tips) %></dd>
    </dl>
  </div>

  <%= render 'share', :picture => picture %>

  <div class="actions">
    <%= link_to_with_icon(t('helpers.actions.details'), 'zoom-in', "#!/pictures/#{picture.id}") %>
    <%= link_to_with_icon(t('helpers.actions.edit'), 'pencil', "#!/pictures/#{picture.id}/edit") if picture.is_owner?(current_user) %>
    <%= link_to_with_icon(t('helpers.actions.delete'), 'trash', account_profile_picture_path(picture), :method => :delete, :confirm => t('helpers.actions.confirmation'), :remote => true) if picture.is_owner?(current_user) %>
  </div>
</div>