<div class="picture" data-id="<%= picture.id %>">
  <div class="image">
    <%= image_tag picture.image.url(:thumb) %>
  </div>
  <div class="details">
    <dl>
      <dt><%= Picture.human_attribute_name(:title) %></dt>
      <dd><%= picture.title %></dd>
      <dt><%= Picture.human_attribute_name(:dressing_tips) %></dt>
      <dd><%= picture.dressing_tips %></dd>
    </dl>
  </div>
  <div class="actions">
    <%= link_to_with_icon t('helpers.actions.details'), 'zoom-in', "#!/pictures/#{picture.id}" %>
    <%= link_to_with_icon t('helpers.actions.edit'), 'pencil', "#!/pictures/#{picture.id}/edit" %>
    <%= link_to_with_icon t('helpers.actions.delete'), 'trash', account_picture_path(picture), :method => :delete, :confirm => t('helpers.actions.confirmation'), :remote => true %>
  </div>
</div>