<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('application.title'), root_path, :class => 'brand' %>
      <div class="nav pull-right">
        <% if affiliate_signed_in? %>
          <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i> <%= current_affiliate %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t('helpers.actions.edit_profile'), edit_affiliate_business_profiles_path %></li>
            <li><%= link_to t('helpers.actions.edit_language_settings'), edit_affiliate_language_settings_path %></li>
            <li><%= link_to t('helpers.actions.change_password'), edit_affiliate_registration_path %></li>
            <li><%= link_to t('helpers.actions.sign_out'), destroy_affiliate_session_path, :method => 'delete' %></li>
          </ul>
        <% else %>
          <%= render 'layouts/guest_navigation' %>
        <% end %>
      </div>
    </div>
  </div>
</div>