<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : t('application.title') %></title>
  <%= stylesheet_link_tag    "affiliate", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/nav_bar' %>
    <div class="container">
      <div class="content">
        <%= render :partial => 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
    <div class="push"></div>
  </div>

  <footer>
    <div class="container">
      <p class="brand"><%=raw t('application.copyright') %></p>
    </div>
  </footer>
</body>
</html>
